#card {
    width: 250px;
    height: 250px;
    margin-left: 20px;
    text-align: center;
    color: #00c3ff;
}

#img {
    display: block;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    #card {
        width: 280px;
        margin: auto;
        margin-top: 20px;
    }
}