.vehicles-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

@media only screen and (max-width: 768px) {
    .vehicles-container {
        display: block;
    }
}