.header {
    margin-top: 20px;
}

.navbar {
    color: white !important;
}

.nav {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.nav-item {
    margin-left: 10% !important;
}

.nav-item p {
    margin-bottom: 0 !important;
    font-size: 18px;
    font-weight: 500;
    padding: 4px 0 !important;
}

.nav-item button {
    background-color: white;
    color: #00c3ff;
    border: 1px solid #00c3ff;
    border-radius: 5px;
    padding: 4px 14px;
    font-weight: 500;
}

.nav-item button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.nav-item button:focus {
    background-color: #00c3ff;
    color: white;
}