.header {
    margin-top: 20px;
}

.navbar-brand {
    color: white !important;
    font-weight: bold;
    font-size: 1.5rem;
}

.header .nav-link {
    margin-bottom: 0 !important;
    font-size: 18px;
    font-weight: 500;
    color: white !important;
    padding: 4px 0 !important;
    margin-top: 5px !important;
    margin-right: 20px !important;
}

.nav-item button {
    background-color: white;
    color: #00c3ff;
    border: 1px solid #00c3ff;
    border-radius: 5px;
    padding: 2px 14px;
    font-weight: 500;
    font-size: 15px;
}

.nav-item button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.nav-item button:focus {
    background-color: #00c3ff;
    color: white;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-light .navbar-toggler {
    border-color: white !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../../images/hamburger.svg') !important;
}

@media only screen and (max-width: 768px) {
    #brand {
        margin-top: -5px !important;
    }

    #username {
        margin-bottom: 0px !important;
    }
}